.gridHs {
  height: 33.5em;
  width: 55em;
  padding: 0.5em;
  background-color: #6f6767;
}

.pictureBob {
  background-color: blue;
  margin-bottom: 0.5em;
}

.gridBob {
  margin-bottom: 0.5em;
  background-color: red;
}

.gridUser {
  margin-bottom: 0.5em;
  background-color: black;
}

.pictureUser {
  background-color: rgb(10, 239, 33);
}

.board {
  height: 8em;
  width: 55em;
}